.temperature-converter {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .buttons {
    margin-top: 50px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 2rem;
    margin-top: 50px;
    cursor: pointer;
    color: rgb(253, 253, 253);
    background-color: rgb(56, 3, 87);
  }
  
  .error {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  