.temperature-result {
    font-size: 1.2rem;
    margin-top: 20px;
    /* border:2px solid red */
  }
  
  .temperature-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap:30px;
    border: 2px solid #d63e3e;
  }
  
  input {
    width: 200px;
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
 box-sizing: border-box;
 box-shadow: 0px 0px 0px 0px var(--blue-color);
    outline: none;
    transition: box-shadow 0.3s;
  }
  
  input:focus {
    box-shadow: 0px 0px 0px 3px var(--blue-color);
  }
  select {
    padding: 10px;
    font-size: 1rem;
  }
  