.crypto-card {
    /* border: 1px solid #ce1f1f; */
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    color: azure;
    background-color: #040fa2;
   
    display: inline-block;

  }
  
  .crypto-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .crypto-card p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .crypto-card input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .crypto-card button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .crypto-card button:hover {
    background-color: #0056b3;
  }
  
