body {
    font-family: Arial, sans-serif;
    background-color: #8d8d8d;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333333;
}

.converter {
    background-color: #16e0f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #e0e237;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.result {
    font-size: 18px;
    background-color: azure; 
    border-radius: 10px;
    margin-top: 10px;
 
}
