body {
  background-color: #550ea1;
}

body:after {
 
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #3F436B;
  color: #fff;
  opacity: 0.6;
}

/* Variables */
:root {
  --gray-text: #2f2f30;
  --gray2-text: #BFC0CC;
  --blue-color: #00D6F1;
  --orange-color: #FFBC00;
  --red-color: #FF4D00;
}