/* Item Form */
.item-form {
  margin-bottom: 10px;
  margin-top: 20px;
  

}
.add{
    display: flex;
   gap: 20px;
}

.item-form label {
  color: var(--gray2-text);
}

.item-form input {
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 15px;
  background-color: #f3f2f5;
  color: #310e63;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px var(--blue-color);
  outline: none;
  transition: box-shadow 0.3s;
}

.item-form input:focus {
  box-shadow: 0px 0px 0px 3px var(--blue-color);
}

/* Item List */
.item-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.item-list .placeholder {
  padding: 10px 0;
  color: var(--gray-text);
}

.item-list .item {
  position: relative;
  padding: 5px 30px;
  margin: 0 -30px;
  background-color: #fffefe;
}

.item-list .item label {
  position: absolute;
}

.item-list .item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.item-list .item input[type="checkbox"] + .checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  border: 2px solid var(--gray-text);
  border-radius: 50%;
  transition: border-color 0.3s;
}

.item-list .item input[type="checkbox"]:checked + .checkbox {
  border-color: var(--blue-color);
}

.item-list .item input[type="checkbox"]:checked + .checkbox:after {
  background-color: var(--blue-color);
}

.item-list .item button {
  position: absolute;
  right: 30px;
  color: transparent;
  /* background-color: var(--orange-color); */
  background-color: var(--red-color);
  border: none;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 0;
  transition: 0.4s;
}

.item-list .item button:hover,
.item-list .item button:focus {
  /* background-color: var(--red-color); */
  background-color: var(--orange-color);
  transform: rotate(135deg);
}

.item-list .item .text-wrapper {
  position: relative;
  display: block;
  margin-left: 45px;
  margin-right: 45px;
}

.item-list .item .text-wrapper span,
.item-list .item .text-wrapper s {
  display: block;
  line-height: 25px;
  color: #0e9b04;
  padding: 2px 0;
  max-height: 100px;
  overflow: hidden;
  transition: opacity 0.3s, max-height 0.2s;
}

.item-list .item .text-wrapper input {
  position: absolute;
  padding: 5px 0;
  top: 0;
  left: 0px;
  width: 100%;
  border: none;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  color: #4C565E;
  outline: none;
  transition: opacity 0s;
}

.item-list .item.editing {
  background-color: #F9E491;
  transition: background-color 0.3s;
}

.item-list .item.editing .text-wrapper input {
  opacity: 1;
  z-index: 1;
}

.item-list .item.editing .text-wrapper s,
.item-list .item.editing .text-wrapper span {
  opacity: 0;
  max-height: 25px;
}

/* Footer Actions */
.footer-actions a {
  display: inline-block;
  /* background-color: var(--red-color); */
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px var(--red-color);
  transition: opacity 0.2s, box-shadow 0.3s;
}


.footer-actions a:hover,
.footer-actions a:focus {
  opacity: 0.8;
  box-shadow: 0px 0px 0px 2px var(--red-color);
}
.footer-actions a:hover::before {
  opacity: 1;
}


.footer-actions a.disabled {
  opacity: 0.4;
  cursor: default;
}
/* Styling for the "Add" button */
.item-form button {
  background-color: var(--blue-color); /* Change the button's background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.item-form button:hover {
  background-color: var(--dark-blue-color); /* Change the button's color on hover */
  transform: scale(1.05); /* Add a slight zoom effect on hover */
}

.item-form button:focus {
  outline: none; /* Remove the default focus outline */
}
.rgb-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.rgb-button:hover::before {
  opacity: 1;
}