.todo-app {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
  }
  
  /* Header */
  .todo-app h2 {
    padding: 0;
    margin: 0;
    color: #747E80;
    font-size: 24px;
  }
  
  /* Filter Tabs */
  .filter-tabs .filter {
    display: inline-block;
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: var(--gray-text);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;
  }
  
  .filter-tabs .filter span {
    display: inline-block;
    vertical-align: middle;
    min-width: 15px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    background-color: var(--gray-text);
    color: #fff;
    text-align: center;
    border-radius: 13px;
    font-size: 10px;
    font-weight: 600;
    transition: background-color 0.2s;
  }
  
  .filter-tabs .filter.disabled {
    color: var(--blue-color);
    text-decoration: none;
    pointer-events: none;
    border-bottom-color: var(--blue-color);
  }
  
  .filter-tabs .filter.disabled span {
    background-color: var(--blue-color);
  }